{% extends 'base.html.twig' %}
{% block title %}Inscrivez vous afin de participer à nos merveilleux QUIZZ{% endblock %}

{% block body %}
{# <section class="body_form">
    <form class="form" method="POST" action="" id="registerForm">
        <h1>Inscription</h1>
        <span class="input-span">
            <label for="pseudo" class="label">Pseudo</label>
            <input type="text" name="pseudo" autocomplete="off"></span>
        <label for="email" class="label">E-mail</label>
        <input type="mail" name="email" autocomplete="off"></span>
        <label for="mdp" class="label">Mot de passe</label>
        <div class="password-eye">
            <i id="eye" class="fa-solid fa-eye-slash"></i>
            <input type="password" name="mdp" class="enterPW" autocomplete="off"></span>
        </div>
        <input class="submit" type="submit" name="envoi" value="Inscription">
        <span class="span">Vous avez déjà un compte ? <a href="./loginForm.php">Connectez-vous</a></span>
        <a href="./index.html">Retour sur la page d'accueil</a>
    </form>
</section> #}
   <section class="body_form">
   {# <form class="form" method="POST" action="" id="registerForm"> #}
   <div class="form">
    {{ form_start(registrationForm) }}
     <h1>Inscription</h1>
      <span class="input-span">
      {{form_label(registrationForm.pseudo)}}
      {{form_widget(registrationForm.pseudo)}}
      {{form_label(registrationForm.email)}}
       {{form_widget(registrationForm.email)}}
      {# {{form_label(registrationForm.agreeTerms)}}
       {{form_widget(registrationForm.agreeTerms)}} #}
        {{ form_label(registrationForm.plainPassword )}}

          <div class="password-eye">
            <i id="eye" class="fa-solid fa-eye-slash"></i>
       {{form_widget(registrationForm.plainPassword )}}
        </div>
        <div class="end">
    <button type="submit">Inscrivez vous !</button>
        </div>
           <span class="span">Vous avez déjà un compte ? <a href="./loginForm.php">Connectez-vous</a></span>
            <a href="./index.html">Retour sur la page d'accueil</a>
    {{ form_end(registrationForm) }}
    </div>
    </section>
{% endblock %}